* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: url("./assets/1562615.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position-y: 40%;
  background-position-x: 85%;
  font-family: "Roboto Mono", monospace;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 6vh;
  background-color: rgba(74, 75, 82, 0.753);
}
.logo {
  color: rgba(25, 119, 156, 0.753);
  font-size: 2rem;
  letter-spacing: 3px;
  cursor: pointer;
}
.nav-link {
  display: flex;
  width: 45%;
  justify-content: space-around;
  transition: 0.4s;
}
.nav-link li {
  list-style: none;
}
.nav-link a {
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgba(25, 119, 156, 0.884);
  transition: 0.3s ease-in;
}
.nav-link a:hover {
  color: rgb(24, 159, 212);
}
footer {
  position: absolute;
  bottom: 0;
  left: 45%;
  color: white;
  font-weight: 600;
  font-size: 1rem;
}

.brgr-icon div {
  width: 30px;
  background-color: rgba(25, 119, 156, 0.884);
  margin: 5px;
  height: 4px;
  transition: 0.2s;
}
.brgr-icon {
  display: none;
  cursor: pointer;
}
.brgr-icon:hover > div {
  background-color: rgb(24, 159, 212);
}
.brgr-icon:active > div {
  background-color: rgb(158, 158, 167);
  width: 33px;
  margin: 6px;
}

.img-text {
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 38vh;
  left: 25%;
  width: 27%;
  box-shadow: 0px 0px 10px white;
  padding: 1rem;
}
.img-title {
  color: rgb(116, 112, 112);
  font-size: 2.8rem;
  letter-spacing: 1px;
}
.img-subtitle {
  color: rgb(0, 0, 0);
  font-size: 2.3rem;
  letter-spacing: 1px;
}
.img-btn {
  background: rgba(74, 75, 82, 0.753);
  margin-top: 1rem;
  color: white;
  border: 3px solid white;
  border-radius: 0.6rem;
  outline: none;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.img-btn:hover {
  background: transparent;
  color: rgba(74, 75, 82, 0.753);
  border: 3px solid white;
}
.img-btn:active {
  padding: 0.95rem;
  font-size: 1.25rem;
}

@media screen and (max-width: 880px) {
  .nav-link {
    width: 60%;
  }
}
@media screen and (max-width: 700px) {
  body {
    background-image: url("./assets/1562615.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position-x: 85%;
    font-family: "Roboto Mono", monospace;
    overflow-x: hidden;
  }

  .nav-link {
    border-top: 1px solid rgb(209, 205, 205);
    position: absolute;
    right: 0;
    height: 90vh;
    top: 6vh;
    background-color: rgba(74, 75, 82, 0.884);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
  }
  .nav-link a {
    font-size: 1.4rem;
  }
  .brgr-icon {
    display: block;
  }
}
.nav-active {
  transform: translateX(0%);
}

/* mid content resize*/
@media screen and (max-width: 1230px) and (min-width: 1000px) {
  .img-text {
    top: 33vh;
    left: 20%;
    width: 40%;
    padding: 1rem;
  }
  .img-title {
    font-size: 2.8rem;
  }
  .img-subtitle {
    font-size: 2.3rem;
  }
  .img-btn {
    margin-top: 1rem;
    border: 3px solid white;
    padding: 1rem;
    font-size: 1.3rem;
  }
  .img-btn:hover {
    border: 3px solid white;
  }
  .img-btn:active {
    padding: 0.95rem;
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 1000px) and (min-width: 851px) {
  .img-text {
    top: 26vh;
    left: 22%;
    width: 37%;
    padding: 0.5rem;
  }
  .img-title {
    font-size: 2.5rem;
  }
  .img-subtitle {
    font-size: 2rem;
  }
  .img-btn {
    margin-top: 1rem;
    border: 3px solid white;
    padding: 1rem;
    font-size: 1.1rem;
  }
  .img-btn:hover {
    border: 3px solid white;
  }
  .img-btn:active {
    padding: 0.95rem;
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 850px) and (min-width: 760px) {
  .img-text {
    top: 23vh;
    left: 22%;
    width: 37%;
    padding: 0.5rem;
  }
  .img-title {
    font-size: 2.2rem;
  }
  .img-subtitle {
    font-size: 1.8rem;
  }
  .img-btn {
    margin-top: 1rem;
    border: 3px solid white;
    padding: 1rem;
    font-size: 1rem;
  }
  .img-btn:hover {
    border: 3px solid white;
  }
  .img-btn:active {
    padding: 0.95rem;
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 759px) and (min-width: 701px) {
  .img-text {
    top: 23vh;
    left: 22%;
    width: 37%;
    padding: 0.4rem;
  }
  .img-title {
    font-size: 1.7rem;
  }
  .img-subtitle {
    font-size: 1.3rem;
  }
  .img-btn {
    margin-top: 1rem;
    border: 2px solid white;
    padding: 1rem;
    font-size: 0.95rem;
  }
  .img-btn:hover {
    border: 2px solid white;
  }
  .img-btn:active {
    padding: 1.1remrem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 700px) {
  .img-text {
    top: 12vh;
    left: 8%;
    width: 50%;
    padding: 0.5rem;
  }
  .img-title {
    font-size: 2rem;
  }
  .img-subtitle {
    font-size: 1.6rem;
  }
  .img-btn {
    margin-top: 1rem;
    border: 2px solid white;
    padding: 1rem;
    font-size: 1.2rem;
  }
  .img-btn:hover {
    border: 2px solid white;
  }
  .img-btn:active {
    padding: 1.1remrem;
    font-size: 1rem;
  }
}
